<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- For all tests to pass, account should be granted full access -->
    <add key="auth_subdomain" value="harvestdotnet" />
    <add key="auth_username" value="ithielnor@gmail.com" />
    <add key="auth_password" value="password" />

    <!-- These IDs are unique to harvestdotnet.harvestapp.com. Some tests will fail if you test against a different account -->
    <add key="Test_ClientId" value="2553669" />
    <add key="Test_ContactId" value="3259060" />
    <add key="Test_ExpenseCategoryId" value="2001551" />
    <add key="Test_ExpenseId" value="6371141" />
    <add key="Test_InvoiceCategoryId" value="795576" />
    <add key="Test_InvoiceId" value="4861513" />
    <add key="Test_ProjectId" value="5787293" />
  </appSettings>
</configuration>