<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- For all tests to pass, account should be granted full access -->
    <add key="auth_subdomain" value="harvestdotnet" />
    <add key="auth_username" value="ithielnor@gmail.com" />
    <add key="auth_password" value="password" />

    <!-- These IDs are unique to harvestdotnet.harvestapp.com. Some tests will fail if you test against a different account -->
    <add key="Test_ClientId" value="2953852" />
    <add key="Test_ContactId" value="3436185" />
    <add key="Test_ExpenseCategoryId" value="2262358" />
    <add key="Test_ExpenseId" value="6425551" />
    <add key="Test_InvoiceCategoryId" value="800166" />
    <add key="Test_InvoiceId" value="5725477" />
    <add key="Test_PaymentId" value="4270344" />
    <add key="Test_ProjectId" value="6710595" />
  </appSettings>
</configuration>