<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- For all tests to pass, account should be granted full access -->
    <add key="auth_subdomain" value="harvestdotnet" />
    <add key="auth_username" value="ithielnor@gmail.com" />
    <add key="auth_password" value="password" />
  </appSettings>
</configuration>